---
import { Image } from "astro:assets";

import Amsterdam from "@images/amsterdam.jpg";
---

<section class="grid [grid-template-areas:'stack'] [&>*]:[grid-area:stack]">
  <Image
    src={Amsterdam}
    alt="Amsterdam"
    class="w-full h-dvh object-cover brightness-50 animate-background animate-scroll"
  />
  <div
    class="flex flex-col justify-center items-center gap-8 p-28 z-10 animate-text animate-scroll"
  >
    <h1 class="text-7xl text-white font-bold">Amsterdam heading</h1>
    <p
      class="text-2xl text-white font-semibold text-balance text-center leading-8"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eveniet
      officia corrupti sunt tenetur inventore placeat obcaecati aspernatur
      provident, quae corporis nam illum id cupiditate maiores temporibus
      suscipit fugiat aut? Dolorem dolore saepe quae veritatis quaerat sequi,
      iure illo commodi, perspiciatis laborum quisquam doloremque modi eum
      tempore nobis iste ut! Explicabo aspernatur perspiciatis consectetur
      voluptas, illum enim saepe accusamus asperiores?
    </p>
  </div>
</section>
<section class="w-full h-svh bg-black text-white">test</section>
